<!DOCTYPE html>
<html>
<head>
	<title>{{user.alias}}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="header" style="float: right">
			<a href="/friends"><button>Home</button></a>
			<a href="/logout"><button>Logout</button></a>
		</div>
		<div class="content">
			<h1>{{ user.alias }}'s Profile</h1>
			<p>Name: {{user.first_name}} {{user.last_name}}</p>
			<p>Email Address: {{user.email}}</p>
		</div>	
	</div>
</body>
</html>